[submodule "dot/vim/bundle/colors-solarized"]
	path = dot/vim/bundle/colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "dot/vim/bundle/nerdtree"]
	path = dot/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "dot/vim/bundle/lang-coffee-script"]
	path = dot/vim/bundle/lang-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "dot/vim/bundle/lang-slim"]
	path = dot/vim/bundle/lang-slim
	url = https://github.com/bbommarito/vim-slim.git
[submodule "dot/vim/bundle/lang-cucumber"]
	path = dot/vim/bundle/lang-cucumber
	url = https://github.com/tpope/vim-cucumber.git
[submodule "dot/vim/bundle/lang-markdown"]
	path = dot/vim/bundle/lang-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "dot/vim/bundle/lang-html5"]
	path = dot/vim/bundle/lang-html5
	url = https://github.com/othree/html5.vim.git
[submodule "dot/vim/bundle/lang-ruby"]
	path = dot/vim/bundle/lang-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "dot/vim/bundle/rails"]
	path = dot/vim/bundle/rails
	url = https://github.com/tpope/vim-rails.git
[submodule "dot/vim/bundle/fugitive"]
	path = dot/vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "dot/vim/bundle/splitjoin"]
	path = dot/vim/bundle/splitjoin
	url = https://github.com/AndrewRadev/splitjoin.vim.git
[submodule "dot/vim/bundle/ack"]
	path = dot/vim/bundle/ack
	url = https://github.com/AndrewRadev/ack.vim.git
[submodule "dot/vim/bundle/snipmate"]
	path = dot/vim/bundle/snipmate
	url = https://github.com/msanders/snipmate.vim
[submodule "dot/vim/bundle/endwise"]
	path = dot/vim/bundle/endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "dot/vim/bundle/tabular"]
	path = dot/vim/bundle/tabular
	url = https://github.com/godlygeek/tabular
[submodule "dot/vim/bundle/surround"]
	path = dot/vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "dot/vim/bundle/auto-pair"]
	path = dot/vim/bundle/auto-pair
	url = https://github.com/vim-scripts/Auto-Pairs.git
[submodule "textmate/bundles/Copy as RTF.tmbundle"]
	path = textmate/bundles/Copy as RTF.tmbundle
	url = https://github.com/drnic/copy-as-rtf-tmbundle.git
[submodule "textmate/bundles/CoffeeScriptBundle.tmbundle"]
	path = textmate/bundles/CoffeeScriptBundle.tmbundle
	url = git://github.com/jashkenas/coffee-script-tmbundle.git
[submodule "Copy as RTF.tmbundle"]
	path = Copy as RTF.tmbundle
	url = git://github.com/drnic/copy-as-rtf-tmbundle.git
[submodule "textmate/bundles/Git.tmbundle"]
	path = textmate/bundles/Git.tmbundle
	url = https://github.com/jcf/git-tmbundle.git
[submodule "textmate/bundles/Jasmine.tmbundle"]
	path = textmate/bundles/Jasmine.tmbundle
	url = git://github.com/pivotal/jasmine-tmbundle.git
[submodule "textmate/bundles/HTML.tmbundle"]
	path = textmate/bundles/HTML.tmbundle
	url = git://github.com/textmate/html.tmbundle.git
[submodule "JavaScript jQuery.tmbundle"]
	path = textmate/bundles/JavaScript jQuery.tmbundle
	url = git://github.com/kswedberg/jquery-tmbundle.git
[submodule "RSpec.tmbundle"]
	path = textmate/bundles/RSpec.tmbundle
	url = https://github.com/rspec/rspec-tmbundle.git
[submodule "textmate/bundles/Ruby-Slim.tmbundle"]
	path = textmate/bundles/Ruby-Slim.tmbundle
	url = git://github.com/fredwu/ruby-slim-tmbundle.git
[submodule "textmate/bundles/Ruby.tmbundle"]
	path = textmate/bundles/Ruby.tmbundle
	url = git://github.com/drnic/ruby-tmbundle.git
[submodule "textmate/bundles/SCSS.tmbundle"]
	path = textmate/bundles/SCSS.tmbundle
	url = git://github.com/kuroir/SCSS.tmbundle.git
[submodule "JavaScript.tmbundle"]
	path = textmate/bundles/JavaScript.tmbundle
	url = git://github.com/subtleGradient/javascript.tmbundle.git
[submodule "Javascript Tools.tmbundle"]
	path = textmate/bundles/Javascript Tools.tmbundle
	url = git://github.com/subtleGradient/javascript-tools.tmbundle.git
[submodule "textmate/bundles/Mustache.tmbundle"]
	path = textmate/bundles/Mustache.tmbundle
	url = git://github.com/defunkt/Mustache.tmbundle.git
[submodule "textmate/bundles/Cucumber.tmbundle"]
	path = textmate/bundles/Cucumber.tmbundle
	url = git://github.com/cucumber/cucumber-tmbundle.git
