<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.exit4web.hash</string>
	<key>connections</key>
	<dict>
		<key>012D5880-31A1-45BB-A08B-7EF9B538C6F4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1840DFEE-D19E-4E4D-A053-FF3B683674DC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>1705E8C6-0D47-485F-A7E0-7EA59E0687C4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2776D1B1-C740-47DE-BD25-001E817E9AEB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>1840DFEE-D19E-4E4D-A053-FF3B683674DC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>639F170A-1E36-4CD0-9880-361A01AC88EE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2C70F8B3-AC3B-4405-9CB7-6EECD754E5F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>1C185BA4-C957-4D30-8429-5F5F81103D27</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AC9037B0-D236-4D35-965B-F945583AABF1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>22DEF110-D260-45F8-B25F-9FDA35C620EB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C70F8B3-AC3B-4405-9CB7-6EECD754E5F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>26A118CF-EFF8-437C-8AE9-A1740F37D31C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C70F8B3-AC3B-4405-9CB7-6EECD754E5F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>2776D1B1-C740-47DE-BD25-001E817E9AEB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DDEC09B9-EC4C-4FFC-A3CD-8133E6364DA5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2C70F8B3-AC3B-4405-9CB7-6EECD754E5F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>2908DC18-E638-47E5-AE99-B9D6B88DCDC2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C70F8B3-AC3B-4405-9CB7-6EECD754E5F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>39A20433-375C-4145-9424-C87A48314A8F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C70F8B3-AC3B-4405-9CB7-6EECD754E5F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>442831C5-6E07-4E62-A010-78244D4B4383</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>3C182A4A-5CDD-47A7-8419-62AF79D8AFCE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C70F8B3-AC3B-4405-9CB7-6EECD754E5F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4C69E824-D240-4B82-865C-8E56127E479B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C1E50418-82A3-4C7B-8F4F-16373FAED1C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>54F50C3B-473E-4F11-9D6C-DD832FB36AF8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C70F8B3-AC3B-4405-9CB7-6EECD754E5F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EBE4D381-EA6B-4BA2-8351-1ABF37973DD8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>64B42DF7-43FB-4B49-B48A-22C5DA5D26EC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2908DC18-E638-47E5-AE99-B9D6B88DCDC2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>809B545D-0933-466C-A4FD-B5A2708EB593</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>54F50C3B-473E-4F11-9D6C-DD832FB36AF8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8B08DFAB-BCB5-4194-9AA9-E323E886B589</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EBE4D381-EA6B-4BA2-8351-1ABF37973DD8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A3BF7D82-EDD4-4721-BF58-6668CB5D4FDB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C70F8B3-AC3B-4405-9CB7-6EECD754E5F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>AC9037B0-D236-4D35-965B-F945583AABF1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DDEC09B9-EC4C-4FFC-A3CD-8133E6364DA5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2C70F8B3-AC3B-4405-9CB7-6EECD754E5F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>AE2EB800-A333-417D-975B-9860E6770A0B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C70F8B3-AC3B-4405-9CB7-6EECD754E5F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EBE4D381-EA6B-4BA2-8351-1ABF37973DD8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B2A92BE6-BC11-4F85-ADD9-9EC81434592E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BFB2BE4B-D116-4E00-9A44-6357FF009817</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B439F928-7783-43FC-96DF-896E49B16204</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C70F8B3-AC3B-4405-9CB7-6EECD754E5F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B45CE958-51F9-4728-B41B-FA342942B3C4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>639F170A-1E36-4CD0-9880-361A01AC88EE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2C70F8B3-AC3B-4405-9CB7-6EECD754E5F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B5F00437-7542-4215-B000-E1E2E64E9E40</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C70F8B3-AC3B-4405-9CB7-6EECD754E5F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BEE5D8F3-7030-4B67-BDD9-27A052640511</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AE2EB800-A333-417D-975B-9860E6770A0B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BFB2BE4B-D116-4E00-9A44-6357FF009817</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C70F8B3-AC3B-4405-9CB7-6EECD754E5F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>896B3C56-D814-4A75-A043-304B2D3A8594</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C1E50418-82A3-4C7B-8F4F-16373FAED1C3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C70F8B3-AC3B-4405-9CB7-6EECD754E5F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>896B3C56-D814-4A75-A043-304B2D3A8594</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C2F1AA18-1CCF-4B5B-96C9-B55BE9333400</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B45CE958-51F9-4728-B41B-FA342942B3C4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C3BFF5FD-610A-4365-A3B0-70E8CFDD9A9B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>39A20433-375C-4145-9424-C87A48314A8F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DEBD3954-0A88-480C-908B-72E31EC12D45</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C70F8B3-AC3B-4405-9CB7-6EECD754E5F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>EC7DB0B3-BF14-4847-8219-7D6A96D91BD6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C70F8B3-AC3B-4405-9CB7-6EECD754E5F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Luca Bigon</string>
	<key>description</key>
	<string>Hash calculator with MD5, SHA1, Base64, htpasswd, whirlpool and crc32 support!</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Hash</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>md5f</string>
				<key>subtext</key>
				<string>Calculate the MD5 hash of a file</string>
				<key>text</key>
				<string>MD5 File</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>012D5880-31A1-45BB-A08B-7EF9B538C6F4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	  	tell application "Finder"
	  		set validator to 0
			set sel to selection
			try
				set fileAlias to the selection as alias
				set fileName to name of fileAlias	
				if sel is not {} then
					set filepath to item 1 of sel as text
					set p to POSIX path of filepath
					set validateDirectory to ((characters end thru -1 of p) as string)
					if validateDirectory contains "/" then
						set validator to 1
					else
						set theMD5 to do shell script "md5 -q " &amp; quoted form of p
					end if
				else
					set theMD5 to "No file selected"
				end if
			on error
				set theMD5 to "No file selected"
			end try
		end tell
		if validator = 0 then
			set the clipboard to theMD5
			set theMessage to theMD5
		else
			set theMessage to "Cannot hash a directory"
		end if
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>1840DFEE-D19E-4E4D-A053-FF3B683674DC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>md5</string>
				<key>script</key>
				<string>php -f ./e4WorkflowApp.php -- "md5 {query}" "XML"</string>
				<key>subtext</key>
				<string>Calculate the MD5 hash of a string</string>
				<key>title</key>
				<string>MD5</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A3BF7D82-EDD4-4721-BF58-6668CB5D4FDB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>MD5 hash</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>639F170A-1E36-4CD0-9880-361A01AC88EE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>php -f ./e4WorkflowApp.php -- "md5 {query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B45CE958-51F9-4728-B41B-FA342942B3C4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Calculate MD5</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>C2F1AA18-1CCF-4B5B-96C9-B55BE9333400</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>SHA1 hash</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>DDEC09B9-EC4C-4FFC-A3CD-8133E6364DA5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	  	tell application "Finder"
	  		set validator to 0
			set sel to selection
			try
				set fileAlias to the selection as alias
				set fileName to name of fileAlias	
				if sel is not {} then
					set filepath to item 1 of sel as text
					set p to POSIX path of filepath
					set validateDirectory to ((characters end thru -1 of p) as string)
					if validateDirectory contains "/" then
						set validator to 1
					else
						set theSHA to do shell script "shasum " &amp; quoted form of p &amp; " | awk '{print $1}'"
					end if
				else
					set theSHA to "No file selected"
				end if
			on error
				set theSHA to "No file selected"
			end try
		end tell
		if validator = 0 then
			set the clipboard to theSHA
			set theMessage to theSHA
		else
			set theMessage to "Cannot hash a directory"
		end if
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>2776D1B1-C740-47DE-BD25-001E817E9AEB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sha1f</string>
				<key>subtext</key>
				<string>Calculate the SHA1 hash of a file</string>
				<key>text</key>
				<string>SHA1 File</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1705E8C6-0D47-485F-A7E0-7EA59E0687C4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>2C70F8B3-AC3B-4405-9CB7-6EECD754E5F5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>sha1</string>
				<key>script</key>
				<string>php -f ./e4WorkflowApp.php "sha1 {query}" "XML"</string>
				<key>subtext</key>
				<string>Calculate the SHA1 hash of a string</string>
				<key>title</key>
				<string>SHA1</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3C182A4A-5CDD-47A7-8419-62AF79D8AFCE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>php -f ./e4WorkflowApp.php -- "sha1 {query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AC9037B0-D236-4D35-965B-F945583AABF1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Calculate SHA1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>1C185BA4-C957-4D30-8429-5F5F81103D27</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sha256f</string>
				<key>subtext</key>
				<string>Calculate the SHA256 hash of a file</string>
				<key>text</key>
				<string>SHA256 File</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>809B545D-0933-466C-A4FD-B5A2708EB593</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	  	tell application "Finder"
	  		set validator to 0
			set sel to selection
			try
				set fileAlias to the selection as alias
				set fileName to name of fileAlias	
				if sel is not {} then
					set filepath to item 1 of sel as text
					set p to POSIX path of filepath
					set validateDirectory to ((characters end thru -1 of p) as string)
					if validateDirectory contains "/" then
						set validator to 1
					else
						set theSHA to do shell script "shasum -a 256 " &amp; quoted form of p &amp; " | awk '{print $1}'"
					end if
				else
					set theSHA to "No file selected"
				end if
			on error
				set theSHA to "No file selected"
			end try
		end tell
		if validator = 0 then
			set the clipboard to theSHA
			set theMessage to theSHA
		else
			set theMessage to "Cannot hash a directory"
		end if
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>54F50C3B-473E-4F11-9D6C-DD832FB36AF8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>SHA256 hash</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>EBE4D381-EA6B-4BA2-8351-1ABF37973DD8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>sha256</string>
				<key>runningsubtext</key>
				<string>Hashing...</string>
				<key>script</key>
				<string>php -f ./e4WorkflowApp.php -- "sha256 {query}" "XML"</string>
				<key>subtext</key>
				<string>Calculate the SHA256 hash of a string</string>
				<key>title</key>
				<string>SHA256</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8B08DFAB-BCB5-4194-9AA9-E323E886B589</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>php -f ./e4WorkflowApp.php -- "sha256 {query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AE2EB800-A333-417D-975B-9860E6770A0B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Calculate SHA256</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>BEE5D8F3-7030-4B67-BDD9-27A052640511</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sha512f</string>
				<key>subtext</key>
				<string>Calculate the SHA512 hash of a file</string>
				<key>text</key>
				<string>SHA512 File</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B2A92BE6-BC11-4F85-ADD9-9EC81434592E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	  	tell application "Finder"
	  		set validator to 0
			set sel to selection
			try
				set fileAlias to the selection as alias
				set fileName to name of fileAlias	
				if sel is not {} then
					set filepath to item 1 of sel as text
					set p to POSIX path of filepath
					set validateDirectory to ((characters end thru -1 of p) as string)
					if validateDirectory contains "/" then
						set validator to 1
					else
						set theSHA to do shell script "shasum -a 512 " &amp; quoted form of p &amp; " | awk '{print $1}'"
					end if
				else
					set theSHA to "No file selected"
				end if
			on error
				set theSHA to "No file selected"
			end try
		end tell
		if validator = 0 then
			set the clipboard to theSHA
			set theMessage to theSHA
		else
			set theMessage to "Cannot hash a directory"
		end if
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>BFB2BE4B-D116-4E00-9A44-6357FF009817</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>SHA512 hash</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>896B3C56-D814-4A75-A043-304B2D3A8594</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>sha512</string>
				<key>runningsubtext</key>
				<string>Hashing...</string>
				<key>script</key>
				<string>php -f ./e4WorkflowApp.php -- "sha512 {query}" "XML"</string>
				<key>subtext</key>
				<string>Calculate the SHA512 hash of a string</string>
				<key>title</key>
				<string>SHA512</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B439F928-7783-43FC-96DF-896E49B16204</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>php -f ./e4WorkflowApp.php -- "sha512 {query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C1E50418-82A3-4C7B-8F4F-16373FAED1C3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Calculate SHA512</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>4C69E824-D240-4B82-865C-8E56127E479B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>base64decode</string>
				<key>script</key>
				<string>php -f ./e4WorkflowApp.php -- "base64_decode {query}" "XML"</string>
				<key>subtext</key>
				<string>Decode a base64 string</string>
				<key>title</key>
				<string>Base64 Decode</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B5F00437-7542-4215-B000-E1E2E64E9E40</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>base64f</string>
				<key>subtext</key>
				<string>Encode a file in base64</string>
				<key>text</key>
				<string>Base64 File</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C3BFF5FD-610A-4365-A3B0-70E8CFDD9A9B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	  	tell application "Finder"
	  		set validator to 0
			set sel to selection
			try
				set fileAlias to the selection as alias
				set fileName to name of fileAlias	
				if sel is not {} then
					set filepath to item 1 of sel as text
					set p to POSIX path of filepath
					set validateDirectory to ((characters end thru -1 of p) as string)
					if validateDirectory contains "/" then
						set validator to 1
					else
						set theBase64 to do shell script "base64 " &amp; quoted form of p
					end if
				else
					set theBase64 to "No file selected"
				end if
			on error
				set theBase64 to "No file selected"
			end try
		end tell
		if validator = 0 then
			set the clipboard to theBase64
			set theMessage to theBase64
		else
			set theMessage to "Cannot hash a directory"
		end if
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>39A20433-375C-4145-9424-C87A48314A8F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Hash copied to clipboard</string>
				<key>title</key>
				<string>Base64 Hash</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>442831C5-6E07-4E62-A010-78244D4B4383</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>base64encode</string>
				<key>script</key>
				<string>php -f ./e4WorkflowApp.php -- "base64_encode {query}" "XML"</string>
				<key>subtext</key>
				<string>Encode a string in base64</string>
				<key>title</key>
				<string>Base64 Encode</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>DEBD3954-0A88-480C-908B-72E31EC12D45</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Calculate Base64</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>64B42DF7-43FB-4B49-B48A-22C5DA5D26EC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>php -f ./e4WorkflowApp.php -- "base64_encode {query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2908DC18-E638-47E5-AE99-B9D6B88DCDC2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>htpasswd</string>
				<key>script</key>
				<string>php -f ./e4WorkflowApp.php -- "htpasswd {query}" "XML"</string>
				<key>subtext</key>
				<string>Encode a string in the Apache password format</string>
				<key>title</key>
				<string>HtPasswd</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>EC7DB0B3-BF14-4847-8219-7D6A96D91BD6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>crc32</string>
				<key>script</key>
				<string>php -f ./e4WorkflowApp.php -- "crc32 {query}" "XML"</string>
				<key>subtext</key>
				<string>Calculate the Crc32 hash of a string</string>
				<key>title</key>
				<string>Crc32</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>26A118CF-EFF8-437C-8AE9-A1740F37D31C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>whirlpool</string>
				<key>script</key>
				<string>php -f ./e4WorkflowApp.php -- "whirlpool {query}" "XML"</string>
				<key>subtext</key>
				<string>Calculate the Whirlpool hash of a string</string>
				<key>title</key>
				<string>Whirlpool</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>22DEF110-D260-45F8-B25F-9FDA35C620EB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>012D5880-31A1-45BB-A08B-7EF9B538C6F4</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>1705E8C6-0D47-485F-A7E0-7EA59E0687C4</key>
		<dict>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>1840DFEE-D19E-4E4D-A053-FF3B683674DC</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>1C185BA4-C957-4D30-8429-5F5F81103D27</key>
		<dict>
			<key>ypos</key>
			<real>480</real>
		</dict>
		<key>22DEF110-D260-45F8-B25F-9FDA35C620EB</key>
		<dict>
			<key>ypos</key>
			<real>1700</real>
		</dict>
		<key>26A118CF-EFF8-437C-8AE9-A1740F37D31C</key>
		<dict>
			<key>ypos</key>
			<real>1590</real>
		</dict>
		<key>2776D1B1-C740-47DE-BD25-001E817E9AEB</key>
		<dict>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>2908DC18-E638-47E5-AE99-B9D6B88DCDC2</key>
		<dict>
			<key>ypos</key>
			<real>1410</real>
		</dict>
		<key>2C70F8B3-AC3B-4405-9CB7-6EECD754E5F5</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>39A20433-375C-4145-9424-C87A48314A8F</key>
		<dict>
			<key>ypos</key>
			<real>1270</real>
		</dict>
		<key>3C182A4A-5CDD-47A7-8419-62AF79D8AFCE</key>
		<dict>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>442831C5-6E07-4E62-A010-78244D4B4383</key>
		<dict>
			<key>ypos</key>
			<real>1340</real>
		</dict>
		<key>4C69E824-D240-4B82-865C-8E56127E479B</key>
		<dict>
			<key>ypos</key>
			<real>1050</real>
		</dict>
		<key>54F50C3B-473E-4F11-9D6C-DD832FB36AF8</key>
		<dict>
			<key>ypos</key>
			<real>590</real>
		</dict>
		<key>639F170A-1E36-4CD0-9880-361A01AC88EE</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>64B42DF7-43FB-4B49-B48A-22C5DA5D26EC</key>
		<dict>
			<key>ypos</key>
			<real>1410</real>
		</dict>
		<key>809B545D-0933-466C-A4FD-B5A2708EB593</key>
		<dict>
			<key>ypos</key>
			<real>590</real>
		</dict>
		<key>896B3C56-D814-4A75-A043-304B2D3A8594</key>
		<dict>
			<key>ypos</key>
			<real>950</real>
		</dict>
		<key>8B08DFAB-BCB5-4194-9AA9-E323E886B589</key>
		<dict>
			<key>ypos</key>
			<real>700</real>
		</dict>
		<key>A3BF7D82-EDD4-4721-BF58-6668CB5D4FDB</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>AC9037B0-D236-4D35-965B-F945583AABF1</key>
		<dict>
			<key>ypos</key>
			<real>480</real>
		</dict>
		<key>AE2EB800-A333-417D-975B-9860E6770A0B</key>
		<dict>
			<key>ypos</key>
			<real>760</real>
		</dict>
		<key>B2A92BE6-BC11-4F85-ADD9-9EC81434592E</key>
		<dict>
			<key>ypos</key>
			<real>870</real>
		</dict>
		<key>B439F928-7783-43FC-96DF-896E49B16204</key>
		<dict>
			<key>ypos</key>
			<real>980</real>
		</dict>
		<key>B45CE958-51F9-4728-B41B-FA342942B3C4</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>B5F00437-7542-4215-B000-E1E2E64E9E40</key>
		<dict>
			<key>ypos</key>
			<real>1120</real>
		</dict>
		<key>BEE5D8F3-7030-4B67-BDD9-27A052640511</key>
		<dict>
			<key>ypos</key>
			<real>760</real>
		</dict>
		<key>BFB2BE4B-D116-4E00-9A44-6357FF009817</key>
		<dict>
			<key>ypos</key>
			<real>870</real>
		</dict>
		<key>C1E50418-82A3-4C7B-8F4F-16373FAED1C3</key>
		<dict>
			<key>ypos</key>
			<real>1050</real>
		</dict>
		<key>C2F1AA18-1CCF-4B5B-96C9-B55BE9333400</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>C3BFF5FD-610A-4365-A3B0-70E8CFDD9A9B</key>
		<dict>
			<key>ypos</key>
			<real>1230</real>
		</dict>
		<key>DDEC09B9-EC4C-4FFC-A3CD-8133E6364DA5</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>DEBD3954-0A88-480C-908B-72E31EC12D45</key>
		<dict>
			<key>ypos</key>
			<real>1340</real>
		</dict>
		<key>EBE4D381-EA6B-4BA2-8351-1ABF37973DD8</key>
		<dict>
			<key>ypos</key>
			<real>630</real>
		</dict>
		<key>EC7DB0B3-BF14-4847-8219-7D6A96D91BD6</key>
		<dict>
			<key>ypos</key>
			<real>1480</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/BigLuck/alfred2-hash</string>
</dict>
</plist>
