<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfred.spotify.bundle</string>
	<key>connections</key>
	<dict>
		<key>2603F378-2BDF-46A4-AC0E-66DF057B3E96</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>98C3B4F0-3F32-438D-8F4B-029E6CD3BEE0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>264A59CE-5411-437E-B538-FFA5E732C85B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>996F2D8D-1164-4626-9A59-1B77AD5A13E3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>2E462AFD-651D-44DD-9F6F-6EDC13CEA658</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>779C170D-E531-4730-AC50-1EB5AABEC21E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6BDAEF44-407E-41A6-A0E8-FBC0EA6CA747</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>264A59CE-5411-437E-B538-FFA5E732C85B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CB0B5263-F1C1-4757-89B2-86B9D759B415</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>View this release on Github</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4B46E5E6-1C7E-44EE-B3AB-AC6482AE76F6</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Read about this release on Github</string>
			</dict>
		</array>
		<key>779C170D-E531-4730-AC50-1EB5AABEC21E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>00EC560A-5679-4B19-B6DE-9CCC2BDE6891</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F6C36E28-6F46-4518-BCC8-92788D742DAF</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Create a radio station from this result</string>
			</dict>
		</array>
		<key>98E71C9F-5B20-44F9-9E48-F79D6F7A9F4A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B979DED6-5403-4D0C-A639-5D31EEAF1D47</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B979DED6-5403-4D0C-A639-5D31EEAF1D47</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AA107FF8-F7F3-4571-B858-F97370B5BB1D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C5C709C9-1038-49DD-96DB-0E1CA0E54622</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F6C36E28-6F46-4518-BCC8-92788D742DAF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D785F34F-1C47-47F7-B395-9D60CCA58369</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2603F378-2BDF-46A4-AC0E-66DF057B3E96</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E4C6A7F4-70DF-43C5-B6D4-E59C4C59A23E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4F1984CC-B843-4CDF-A777-76F453711FDF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F6C36E28-6F46-4518-BCC8-92788D742DAF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>54BDEEC4-0274-4361-AC2C-5E8F8565D3A0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jeff Johns</string>
	<key>description</key>
	<string>Controls for Spotify</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Spotify</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>2E462AFD-651D-44DD-9F6F-6EDC13CEA658</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>keyword</key>
				<string>spot search</string>
				<key>runningsubtext</key>
				<string>Searching for results...</string>
				<key>script</key>
				<string>IMAGES="no"
php -f search.php -- "$IMAGES" "{query}"</string>
				<key>subtext</key>
				<string>spot search (album|artist|track) QUERY</string>
				<key>title</key>
				<string>Search for albums, artists or tracks</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>779C170D-E531-4730-AC50-1EB5AABEC21E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>open "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>00EC560A-5679-4B19-B6DE-9CCC2BDE6891</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on replaceText(find, replace, someText)
    set prevTIDs to text item delimiters of AppleScript
    set text item delimiters of AppleScript to find
    set someText to text items of someText
    set text item delimiters of AppleScript to replace
    set someText to "" &amp; someText
    set text item delimiters of AppleScript to prevTIDs
    return someText
end replaceText

on alfred_script(q)

    tell application "Spotify"
		if "spotify:" is not in q
			set eyed to id of current track
		else
			set eyed to q
		end if

		if "local:" is not in eyed then
			set uri to my replaceText("spotify:", "spotify:app:radio:", eyed)
			activate
			open location uri
		else
			return "Cannot create radio station from a local file."
		end if
    end tell

end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>F6C36E28-6F46-4518-BCC8-92788D742DAF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Spotify Radio Error</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>54BDEEC4-0274-4361-AC2C-5E8F8565D3A0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>C5C709C9-1038-49DD-96DB-0E1CA0E54622</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>spot</string>
				<key>text</key>
				<string>Toggle Play/Pause</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E4C6A7F4-70DF-43C5-B6D4-E59C4C59A23E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	tell application "Spotify"
		playpause
	end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>4F1984CC-B843-4CDF-A777-76F453711FDF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>keyword</key>
				<string>spot</string>
				<key>runningsubtext</key>
				<string>Retrieving commands list</string>
				<key>script</key>
				<string>php -f autocomplete.php -- "{query}"</string>
				<key>subtext</key>
				<string>Keep typing your command...</string>
				<key>title</key>
				<string>Spotify Commands</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D785F34F-1C47-47F7-B395-9D60CCA58369</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>36</integer>
				<key>script</key>
				<string>php -f execute.php "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2603F378-2BDF-46A4-AC0E-66DF057B3E96</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Spotify</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>98C3B4F0-3F32-438D-8F4B-029E6CD3BEE0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>php -f clear.php | pbcopy
pbpaste</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B979DED6-5403-4D0C-A639-5D31EEAF1D47</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>spot clear</string>
				<key>subtext</key>
				<string>Clear all image cache saved for this workflow.</string>
				<key>text</key>
				<string>Clear Cache</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>98E71C9F-5B20-44F9-9E48-F79D6F7A9F4A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Total Files Removed</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>AA107FF8-F7F3-4571-B858-F97370B5BB1D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>36</integer>
				<key>script</key>
				<string>php -f update.php -- "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>264A59CE-5411-437E-B538-FFA5E732C85B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>spot update</string>
				<key>runningsubtext</key>
				<string>Finding releases on Github...</string>
				<key>script</key>
				<string>php -f releases.php</string>
				<key>subtext</key>
				<string>Upgrade or downgrade your version of the Spotify Worfklow</string>
				<key>title</key>
				<string>Update your Spotify workflow</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6BDAEF44-407E-41A6-A0E8-FBC0EA6CA747</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Spotify Update Error</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>996F2D8D-1164-4626-9A59-1B77AD5A13E3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://github.com/phpfunk/alfred-spotify-controls/tree/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>CB0B5263-F1C1-4757-89B2-86B9D759B415</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://github.com/phpfunk/alfred-spotify-controls/releases/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>4B46E5E6-1C7E-44EE-B3AB-AC6482AE76F6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>00EC560A-5679-4B19-B6DE-9CCC2BDE6891</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>2603F378-2BDF-46A4-AC0E-66DF057B3E96</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>264A59CE-5411-437E-B538-FFA5E732C85B</key>
		<dict>
			<key>ypos</key>
			<real>630</real>
		</dict>
		<key>2E462AFD-651D-44DD-9F6F-6EDC13CEA658</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>4B46E5E6-1C7E-44EE-B3AB-AC6482AE76F6</key>
		<dict>
			<key>ypos</key>
			<real>870</real>
		</dict>
		<key>4F1984CC-B843-4CDF-A777-76F453711FDF</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>54BDEEC4-0274-4361-AC2C-5E8F8565D3A0</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>6BDAEF44-407E-41A6-A0E8-FBC0EA6CA747</key>
		<dict>
			<key>ypos</key>
			<real>630</real>
		</dict>
		<key>779C170D-E531-4730-AC50-1EB5AABEC21E</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>98C3B4F0-3F32-438D-8F4B-029E6CD3BEE0</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>98E71C9F-5B20-44F9-9E48-F79D6F7A9F4A</key>
		<dict>
			<key>ypos</key>
			<real>500</real>
		</dict>
		<key>996F2D8D-1164-4626-9A59-1B77AD5A13E3</key>
		<dict>
			<key>ypos</key>
			<real>630</real>
		</dict>
		<key>AA107FF8-F7F3-4571-B858-F97370B5BB1D</key>
		<dict>
			<key>ypos</key>
			<real>500</real>
		</dict>
		<key>B979DED6-5403-4D0C-A639-5D31EEAF1D47</key>
		<dict>
			<key>ypos</key>
			<real>500</real>
		</dict>
		<key>C5C709C9-1038-49DD-96DB-0E1CA0E54622</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>CB0B5263-F1C1-4757-89B2-86B9D759B415</key>
		<dict>
			<key>ypos</key>
			<real>750</real>
		</dict>
		<key>D785F34F-1C47-47F7-B395-9D60CCA58369</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>E4C6A7F4-70DF-43C5-B6D4-E59C4C59A23E</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>F6C36E28-6F46-4518-BCC8-92788D742DAF</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://phpfunk.me</string>
</dict>
</plist>
