<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.spr.translate</string>
	<key>connections</key>
	<dict>
		<key>595C74D7-2B2F-421E-B5B1-D03A9614976E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5C3B9961-8E28-42AA-A8C4-BF3C3303205A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5C3B9961-8E28-42AA-A8C4-BF3C3303205A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>72078CC0-EEA1-4226-946E-CC6BC1841DB9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EE43A447-351B-4721-934D-7A5808E29333</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C24F949B-C31E-44CE-9442-DBA7027E7198</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>595C74D7-2B2F-421E-B5B1-D03A9614976E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Shawn Patrick Rice</string>
	<key>description</key>
	<string>Use Google Translate with all its languages</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Translate</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Copied {query}</string>
				<key>title</key>
				<string>Google Translate</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>72078CC0-EEA1-4226-946E-CC6BC1841DB9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>php script.php "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5C3B9961-8E28-42AA-A8C4-BF3C3303205A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>gt</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>script</key>
				<string>php filter.php "{query}"</string>
				<key>title</key>
				<string>Translating something</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>595C74D7-2B2F-421E-B5B1-D03A9614976E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>1</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>argumenttext</key>
				<string>trans </string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>C24F949B-C31E-44CE-9442-DBA7027E7198</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>EE43A447-351B-4721-934D-7A5808E29333</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>595C74D7-2B2F-421E-B5B1-D03A9614976E</key>
		<dict>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>5C3B9961-8E28-42AA-A8C4-BF3C3303205A</key>
		<dict>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>72078CC0-EEA1-4226-946E-CC6BC1841DB9</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>C24F949B-C31E-44CE-9442-DBA7027E7198</key>
		<dict>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>EE43A447-351B-4721-934D-7A5808E29333</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://www.packal.org/workflow/translate</string>
</dict>
</plist>
