<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%= csrf_meta_tag %>
  <title>Application</title>
  <%= stylesheet_link_tag 'application' %>
  <%= favicon_link_tag 'favicon.png' %>
</head>
<body>
  <%= javascript_include_tag '/sprockets/application.js' %>
</body>
</html>