<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.searchbear.lee</string>
	<key>connections</key>
	<dict>
		<key>1F782F10-60B3-4FDE-9D69-E35669F7AEA1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A0983367-179E-4D0B-BAB7-75840E9967A0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>96BF9431-E39C-4B24-B03B-631386AD272D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BF10B845-468E-4A88-A9D9-8E4C589E387C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BF10B845-468E-4A88-A9D9-8E4C589E387C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>369051E9-72CA-4830-A2E7-2EE2AC005BE3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E9CC5CA0-53B2-420C-92AF-DFB1D9C5C3B7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1F782F10-60B3-4FDE-9D69-E35669F7AEA1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>John Lee</string>
	<key>description</key>
	<string>Search for specific notes or tags in the Bear.app</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Search Bear</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Bear.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>369051E9-72CA-4830-A2E7-2EE2AC005BE3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>noteb</string>
				<key>subtext</key>
				<string>Show search results in Bear for '{query}'</string>
				<key>text</key>
				<string>Search Bear for '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>96BF9431-E39C-4B24-B03B-631386AD272D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>bear://x-callback-url/search?term={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>BF10B845-468E-4A88-A9D9-8E4C589E387C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>tb</string>
				<key>subtext</key>
				<string>Show all the notes with tag '{query}' in bear.</string>
				<key>text</key>
				<string>Search Bear for tag '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E9CC5CA0-53B2-420C-92AF-DFB1D9C5C3B7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>bear://x-callback-url/open-tag?name={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>1F782F10-60B3-4FDE-9D69-E35669F7AEA1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Bear.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>A0983367-179E-4D0B-BAB7-75840E9967A0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1F782F10-60B3-4FDE-9D69-E35669F7AEA1</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>369051E9-72CA-4830-A2E7-2EE2AC005BE3</key>
		<dict>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>96BF9431-E39C-4B24-B03B-631386AD272D</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>A0983367-179E-4D0B-BAB7-75840E9967A0</key>
		<dict>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>BF10B845-468E-4A88-A9D9-8E4C589E387C</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>E9CC5CA0-53B2-420C-92AF-DFB1D9C5C3B7</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
