<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.sztoltz.evernote</string>
	<key>connections</key>
	<dict>
		<key>041DD690-14DE-4DE2-854B-19D051B89004</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>442AD104-F7EC-4FC5-A130-2CAABA88F420</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DD971784-EFF2-48AC-B718-A38BA2A54451</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Paste to topmost application</string>
			</dict>
		</array>
		<key>0CDB8453-7549-4C58-B0BA-F24E45B018C8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>164FB514-4786-4374-B5ED-464B02346B17</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>103A74CD-4EAC-4869-9522-30D821B3CE13</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F1DB470C-0EA9-4055-B321-9696C108DEA9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>10460E83-82BA-491B-8D29-6FF26F0A4DA1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D7A16404-A29C-42FD-9664-9F6BC3F260DA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>11F0317D-BA3E-4674-BDC0-EB5A21092114</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C95E4049-FEFD-4FD2-AEEF-8C949B676AF2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>1F8E0546-52C6-4025-BD19-657303540A73</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7B3642F2-84CD-4B08-93B8-8587BE6992C8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>35FDD2C2-802B-420F-BC0E-865B62FF33CD</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Paste to topmost application</string>
			</dict>
		</array>
		<key>2B3579E2-6AF0-48FE-9503-A5D40C158FDB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9940B9D1-CA30-4D88-88AD-C0B686A79509</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>2B7138ED-D927-4D76-A708-9028C9AC18DB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3D0C64EE-F2CE-4A9A-91E6-3A11D95E993E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0CDB8453-7549-4C58-B0BA-F24E45B018C8</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Paste to topmost application</string>
			</dict>
		</array>
		<key>2D2EBD8B-C8F3-4535-8843-EA441961801B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CDA5D561-D54B-4CB6-B5A1-2117C658AC23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>31A81D1C-D5E4-4FD9-8022-361C9E1DBD23</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5A88DD8F-6DDE-4187-B499-6D85F0BED29D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>35FDD2C2-802B-420F-BC0E-865B62FF33CD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>60C5531B-6166-4D2B-A093-F5461575EDF6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>388F687E-0773-45D9-8168-0A43874A46B1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D939543B-25D2-4C34-BAF2-4CAA441B9FA2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>442AD104-F7EC-4FC5-A130-2CAABA88F420</key>
		<array/>
		<key>52C5B49B-F64C-4E27-97FE-D4B6C00325BC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7188E433-28CE-4D39-847F-E4526D7FC97C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5A88DD8F-6DDE-4187-B499-6D85F0BED29D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CDA5D561-D54B-4CB6-B5A1-2117C658AC23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8AC9DA30-2F9D-4E61-919C-DA5DC07BC4D5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8BDABE79-2BF4-4CAC-83C5-D960633934DC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8BDABE79-2BF4-4CAC-83C5-D960633934DC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1A119793-F983-41B9-BB97-3C69008AA63E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9940B9D1-CA30-4D88-88AD-C0B686A79509</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D3ABA52B-C329-43BB-9832-CA00CE09EA67</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C261E260-526B-4EF6-B6F1-6BF5F04A8626</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Paste to topmost application</string>
			</dict>
		</array>
		<key>9A1E0EC0-B446-4586-9ED4-1229700D064A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F0AB1D96-A5EB-4AD2-BE38-CB82F917A389</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>*** Append text to a note ***</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>388F687E-0773-45D9-8168-0A43874A46B1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>604CA1A4-1F80-4E3B-9C8C-42C61F26341F</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>*** Append text to a note with current date ***</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>515404C0-B52C-40D8-A533-8D5756F5B0C4</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Create Note and Open</string>
			</dict>
		</array>
		<key>A57CC49B-8B8C-4365-BF79-A3FB57739EDA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8BDABE79-2BF4-4CAC-83C5-D960633934DC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B545AB8F-C982-484B-9A94-5849E5B1B098</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8BDABE79-2BF4-4CAC-83C5-D960633934DC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C261E260-526B-4EF6-B6F1-6BF5F04A8626</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>71003F13-77A1-4814-B25A-2218229298D4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C95E4049-FEFD-4FD2-AEEF-8C949B676AF2</key>
		<array/>
		<key>D4DCD4EA-CEE5-495D-BA5F-7C8F8259D4DB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EA9A6078-A17A-40BE-B440-44F48DAA5A92</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>*** Append text to a note ***</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>ADC3EF51-7B82-4B03-BA79-1D9FFA05E05E</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>*** Append text to a note with current date ***</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CBBD9277-6389-4BA9-B282-D0F51A323F04</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Create Note and Open</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8BDABE79-2BF4-4CAC-83C5-D960633934DC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D7A16404-A29C-42FD-9664-9F6BC3F260DA</key>
		<array/>
		<key>DD971784-EFF2-48AC-B718-A38BA2A54451</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E4AB7876-1F2B-4A27-9781-99D849503E08</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E0EEE9EF-3E52-4077-9A51-56882FEC0BED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B7138ED-D927-4D76-A708-9028C9AC18DB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>EA1B23BD-B97B-428C-880C-5CE13AED4A32</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D4DCD4EA-CEE5-495D-BA5F-7C8F8259D4DB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>EBBC44A0-45FF-4018-9281-6FEC36613125</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2D2EBD8B-C8F3-4535-8843-EA441961801B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F1DB470C-0EA9-4055-B321-9696C108DEA9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CDA5D561-D54B-4CB6-B5A1-2117C658AC23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Carlos Alberto Sztoltz</string>
	<key>description</key>
	<string>Use Evernote with Alfred (7.1)</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Evernote</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ev?</string>
				<key>subtext</key>
				<string>Keyword: en?</string>
				<key>text</key>
				<string>Evernote Workflow Help</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>52C5B49B-F64C-4E27-97FE-D4B6C00325BC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>do shell script "open " &amp; (quoted form of (POSIX path of ((do shell script "pwd") &amp; "/help.pdf")))</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7188E433-28CE-4D39-847F-E4526D7FC97C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/en_open.scpt")) with parameters {"{query}"}</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3D0C64EE-F2CE-4A9A-91E6-3A11D95E993E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>E0EEE9EF-3E52-4077-9A51-56882FEC0BED</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>evs</string>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/en_search.scpt")) with parameters {"{query}"}</string>
				<key>subtext</key>
				<string>Keyword: ens</string>
				<key>title</key>
				<string>Search</string>
				<key>type</key>
				<integer>6</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2B7138ED-D927-4D76-A708-9028C9AC18DB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/en_paste.scpt")) with parameters {"{query}"}</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0CDB8453-7549-4C58-B0BA-F24E45B018C8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>164FB514-4786-4374-B5ED-464B02346B17</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/en_open.scpt")) with parameters {"{query}"}</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D3ABA52B-C329-43BB-9832-CA00CE09EA67</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>1</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>ent </string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>2B3579E2-6AF0-48FE-9503-A5D40C158FDB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>evt</string>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/en_search.scpt")) with parameters {"intitle:{query}"}</string>
				<key>subtext</key>
				<string>Keyword: ent</string>
				<key>title</key>
				<string>Search in Notes Titles</string>
				<key>type</key>
				<integer>6</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9940B9D1-CA30-4D88-88AD-C0B686A79509</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>71003F13-77A1-4814-B25A-2218229298D4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/en_paste.scpt")) with parameters {"{query}"}</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C261E260-526B-4EF6-B6F1-6BF5F04A8626</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/en_open.scpt")) with parameters {"{query}"}</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7B3642F2-84CD-4B08-93B8-8587BE6992C8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>evr</string>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/en_recent.scpt")) with parameters {"{query}"}</string>
				<key>subtext</key>
				<string>Keyword: enr</string>
				<key>title</key>
				<string>Recent Notes</string>
				<key>type</key>
				<integer>6</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1F8E0546-52C6-4025-BD19-657303540A73</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>60C5531B-6166-4D2B-A093-F5461575EDF6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/en_paste.scpt")) with parameters {"{query}"}</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>35FDD2C2-802B-420F-BC0E-865B62FF33CD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/en_open.scpt")) with parameters {"{query}"}</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>442AD104-F7EC-4FC5-A130-2CAABA88F420</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>evc</string>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/en_filter_shortcuts.scpt")) with parameters {"{query}"}</string>
				<key>subtext</key>
				<string>Keyword: enc</string>
				<key>title</key>
				<string>Notes in Shortcuts</string>
				<key>type</key>
				<integer>6</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>041DD690-14DE-4DE2-854B-19D051B89004</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/en_paste.scpt")) with parameters {"{query}"}</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DD971784-EFF2-48AC-B718-A38BA2A54451</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>E4AB7876-1F2B-4A27-9781-99D849503E08</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/en_append.scpt")) with parameters {"{query}||1"}</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F0AB1D96-A5EB-4AD2-BE38-CB82F917A389</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Evernote</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D939543B-25D2-4C34-BAF2-4CAA441B9FA2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/en_addnote.scpt")) with parameters {"{query}"}</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>388F687E-0773-45D9-8168-0A43874A46B1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>evn</string>
				<key>runningsubtext</key>
				<string>Loading options...</string>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/en_filter.scpt")) with parameters {"{query}"}</string>
				<key>subtext</key>
				<string>Keyword: enn</string>
				<key>title</key>
				<string>New Note</string>
				<key>type</key>
				<integer>6</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9A1E0EC0-B446-4586-9ED4-1229700D064A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/en_append.scpt")) with parameters {"{query}||4"}</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>604CA1A4-1F80-4E3B-9C8C-42C61F26341F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/en_addnote.scpt")) with parameters {"-o{query}"}</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>515404C0-B52C-40D8-A533-8D5756F5B0C4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/en_append.scpt")) with parameters {"{query}||1"}</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EA9A6078-A17A-40BE-B440-44F48DAA5A92</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/en_append.scpt")) with parameters {"{query}||4"}</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>ADC3EF51-7B82-4B03-BA79-1D9FFA05E05E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>typenote</string>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/en_filter_type.scpt")) with parameters {"{query}"}</string>
				<key>title</key>
				<string>Type a New Note</string>
				<key>type</key>
				<integer>6</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D4DCD4EA-CEE5-495D-BA5F-7C8F8259D4DB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>1</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>typenote </string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>EA1B23BD-B97B-428C-880C-5CE13AED4A32</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/en_addnote.scpt")) with parameters {"-o{query}"}</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CBBD9277-6389-4BA9-B282-D0F51A323F04</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>New Note from Clipboard</string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B545AB8F-C982-484B-9A94-5849E5B1B098</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/en_addnote.scpt")) with parameters {"{query}"}</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8BDABE79-2BF4-4CAC-83C5-D960633934DC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Evernote</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>1A119793-F983-41B9-BB97-3C69008AA63E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>New Note from Text Selection</string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>8AC9DA30-2F9D-4E61-919C-DA5DC07BC4D5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Add to Evernote</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>A57CC49B-8B8C-4365-BF79-A3FB57739EDA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Alfred 2" to search "en " &amp; "{query}"</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C95E4049-FEFD-4FD2-AEEF-8C949B676AF2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>subtext</key>
				<string>You can use * (asterisk) as wildcard</string>
				<key>text</key>
				<string>Search Evernote for '{query}'</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.fallback</string>
			<key>uid</key>
			<string>11F0317D-BA3E-4674-BDC0-EB5A21092114</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>evscan</string>
				<key>subtext</key>
				<string>Keyword: enscan</string>
				<key>text</key>
				<string>New Note from Image Capture Scanner</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EBBC44A0-45FF-4018-9281-6FEC36613125</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/en_scan.scpt"))</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2D2EBD8B-C8F3-4535-8843-EA441961801B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Evernote</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>CDA5D561-D54B-4CB6-B5A1-2117C658AC23</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>evpref</string>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/en_pref.scpt")) with parameters {"{query}||f"}</string>
				<key>subtext</key>
				<string>Keyword: enpref</string>
				<key>title</key>
				<string>Evernote Workflow Preferences</string>
				<key>type</key>
				<integer>6</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>31A81D1C-D5E4-4FD9-8022-361C9E1DBD23</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/en_pref.scpt")) with parameters {"{query}||s"}</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5A88DD8F-6DDE-4187-B499-6D85F0BED29D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>evsync</string>
				<key>subtext</key>
				<string>Keyword: ensync</string>
				<key>text</key>
				<string>Synchronize Evernote</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>10460E83-82BA-491B-8D29-6FF26F0A4DA1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Evernote" to synchronize</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D7A16404-A29C-42FD-9664-9F6BC3F260DA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/en_append.scpt")) with parameters {"{query}||3"}</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F1DB470C-0EA9-4055-B321-9696C108DEA9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>❊ note</string>
				<key>script</key>
				<string>run script (POSIX file ((do shell script "pwd") &amp; "/en_append.scpt")) with parameters {"{query}||2"}</string>
				<key>title</key>
				<string>Select a note to append text</string>
				<key>type</key>
				<integer>6</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>103A74CD-4EAC-4869-9522-30D821B3CE13</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Code snippets from:

http://dev.evernote.com/documentation/local/chapters/mac.php

q_workflow library by Ursan Razvan</string>
	<key>uidata</key>
	<dict>
		<key>041DD690-14DE-4DE2-854B-19D051B89004</key>
		<dict>
			<key>ypos</key>
			<real>760</real>
		</dict>
		<key>0CDB8453-7549-4C58-B0BA-F24E45B018C8</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>103A74CD-4EAC-4869-9522-30D821B3CE13</key>
		<dict>
			<key>ypos</key>
			<real>2310</real>
		</dict>
		<key>10460E83-82BA-491B-8D29-6FF26F0A4DA1</key>
		<dict>
			<key>ypos</key>
			<real>2210</real>
		</dict>
		<key>11F0317D-BA3E-4674-BDC0-EB5A21092114</key>
		<dict>
			<key>ypos</key>
			<real>1910</real>
		</dict>
		<key>164FB514-4786-4374-B5ED-464B02346B17</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>1A119793-F983-41B9-BB97-3C69008AA63E</key>
		<dict>
			<key>ypos</key>
			<real>1610</real>
		</dict>
		<key>1F8E0546-52C6-4025-BD19-657303540A73</key>
		<dict>
			<key>ypos</key>
			<real>560</real>
		</dict>
		<key>2B3579E2-6AF0-48FE-9503-A5D40C158FDB</key>
		<dict>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>2B7138ED-D927-4D76-A708-9028C9AC18DB</key>
		<dict>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>2D2EBD8B-C8F3-4535-8843-EA441961801B</key>
		<dict>
			<key>ypos</key>
			<real>2010</real>
		</dict>
		<key>31A81D1C-D5E4-4FD9-8022-361C9E1DBD23</key>
		<dict>
			<key>ypos</key>
			<real>2110</real>
		</dict>
		<key>35FDD2C2-802B-420F-BC0E-865B62FF33CD</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>388F687E-0773-45D9-8168-0A43874A46B1</key>
		<dict>
			<key>ypos</key>
			<real>1010</real>
		</dict>
		<key>3D0C64EE-F2CE-4A9A-91E6-3A11D95E993E</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>442AD104-F7EC-4FC5-A130-2CAABA88F420</key>
		<dict>
			<key>ypos</key>
			<real>710</real>
		</dict>
		<key>515404C0-B52C-40D8-A533-8D5756F5B0C4</key>
		<dict>
			<key>ypos</key>
			<real>1210</real>
		</dict>
		<key>52C5B49B-F64C-4E27-97FE-D4B6C00325BC</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>5A88DD8F-6DDE-4187-B499-6D85F0BED29D</key>
		<dict>
			<key>ypos</key>
			<real>2110</real>
		</dict>
		<key>604CA1A4-1F80-4E3B-9C8C-42C61F26341F</key>
		<dict>
			<key>ypos</key>
			<real>1110</real>
		</dict>
		<key>60C5531B-6166-4D2B-A093-F5461575EDF6</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>71003F13-77A1-4814-B25A-2218229298D4</key>
		<dict>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>7188E433-28CE-4D39-847F-E4526D7FC97C</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>7B3642F2-84CD-4B08-93B8-8587BE6992C8</key>
		<dict>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>8AC9DA30-2F9D-4E61-919C-DA5DC07BC4D5</key>
		<dict>
			<key>ypos</key>
			<real>1710</real>
		</dict>
		<key>8BDABE79-2BF4-4CAC-83C5-D960633934DC</key>
		<dict>
			<key>ypos</key>
			<real>1610</real>
		</dict>
		<key>9940B9D1-CA30-4D88-88AD-C0B686A79509</key>
		<dict>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>9A1E0EC0-B446-4586-9ED4-1229700D064A</key>
		<dict>
			<key>ypos</key>
			<real>1050</real>
		</dict>
		<key>A57CC49B-8B8C-4365-BF79-A3FB57739EDA</key>
		<dict>
			<key>ypos</key>
			<real>1810</real>
		</dict>
		<key>ADC3EF51-7B82-4B03-BA79-1D9FFA05E05E</key>
		<dict>
			<key>ypos</key>
			<real>1410</real>
		</dict>
		<key>B545AB8F-C982-484B-9A94-5849E5B1B098</key>
		<dict>
			<key>ypos</key>
			<real>1610</real>
		</dict>
		<key>C261E260-526B-4EF6-B6F1-6BF5F04A8626</key>
		<dict>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>C95E4049-FEFD-4FD2-AEEF-8C949B676AF2</key>
		<dict>
			<key>ypos</key>
			<real>1910</real>
		</dict>
		<key>CBBD9277-6389-4BA9-B282-D0F51A323F04</key>
		<dict>
			<key>ypos</key>
			<real>1510</real>
		</dict>
		<key>CDA5D561-D54B-4CB6-B5A1-2117C658AC23</key>
		<dict>
			<key>ypos</key>
			<real>2110</real>
		</dict>
		<key>D3ABA52B-C329-43BB-9832-CA00CE09EA67</key>
		<dict>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>D4DCD4EA-CEE5-495D-BA5F-7C8F8259D4DB</key>
		<dict>
			<key>ypos</key>
			<real>1510</real>
		</dict>
		<key>D7A16404-A29C-42FD-9664-9F6BC3F260DA</key>
		<dict>
			<key>ypos</key>
			<real>2210</real>
		</dict>
		<key>D939543B-25D2-4C34-BAF2-4CAA441B9FA2</key>
		<dict>
			<key>ypos</key>
			<real>1010</real>
		</dict>
		<key>DD971784-EFF2-48AC-B718-A38BA2A54451</key>
		<dict>
			<key>ypos</key>
			<real>810</real>
		</dict>
		<key>E0EEE9EF-3E52-4077-9A51-56882FEC0BED</key>
		<dict>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>E4AB7876-1F2B-4A27-9781-99D849503E08</key>
		<dict>
			<key>ypos</key>
			<real>810</real>
		</dict>
		<key>EA1B23BD-B97B-428C-880C-5CE13AED4A32</key>
		<dict>
			<key>ypos</key>
			<real>1510</real>
		</dict>
		<key>EA9A6078-A17A-40BE-B440-44F48DAA5A92</key>
		<dict>
			<key>ypos</key>
			<real>1310</real>
		</dict>
		<key>EBBC44A0-45FF-4018-9281-6FEC36613125</key>
		<dict>
			<key>ypos</key>
			<real>2010</real>
		</dict>
		<key>F0AB1D96-A5EB-4AD2-BE38-CB82F917A389</key>
		<dict>
			<key>ypos</key>
			<real>910</real>
		</dict>
		<key>F1DB470C-0EA9-4055-B321-9696C108DEA9</key>
		<dict>
			<key>ypos</key>
			<real>2310</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
