<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>rstankov</string>
	<key>ordering</key>
	<array>
		<string>468CF3CC-2C77-49ED-A322-9CB0339573A5</string>
		<string>459FEC39-5220-4FD1-BEAF-FE6DFA1B2271</string>
		<string>B0063F52-E302-4236-84D5-BB7B0DE24375</string>
		<string>ECEDCB89-FF92-4AAE-A93D-CEC94827B9D8</string>
		<string>5EDE13B8-FEF7-4295-8BFB-8B737AC8276C</string>
		<string>81F900DD-E01B-4D47-9650-72DCCA4FC9BE</string>
		<string>04580071-2431-48F1-941D-C0038997F440</string>
		<string>770C7650-87C2-46A5-8744-33150A7D94BE</string>
		<string>CACBFC5A-92D8-49EC-9DB8-A84ACFB7601F</string>
	</array>
	<key>uuid</key>
	<string>B7276A63-E144-433F-A0D0-B2DB6F31475C</string>
</dict>
</plist>
